@import url("http://fonts.googleapis.com/css?family=Cutive+Mono");

body {
	font-family: 'Cutive Mono', sans-serif ;
}

#sidebar {
	background-color: #afb42b;
}

.fa {
	color: #e040fb;
}

button:hover{
	background: #f0f4c3;
	color: #212121;
};